.footer-container {
    background-color:#b66531;
    height: 45px;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    color:white
  }

  p {
      text-align: center;
      font-family: "ITC Franklin Gothic";
  }